* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: #1E1E20;
}

.wrapper {
  background-color: #45464A;
  padding: 20px 20px;
  display: inline-block;
  border-radius: 8px;
  vertical-align: top;
  width: 68%;
  height: 100%;
}

.button_wrapper {
  background-color: #45464A;
  padding: 20px 20px;
  display: inline-block;
  border-radius: 8px;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.left-column {
  width: 15%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 100vh;
}

.block-info {
  margin-top: 10px;
  background-color: #45464A;
  padding: 20px 20px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  text-wrap: wrap;
}

label {
  display: block;
  color: #ffffff;
  text-wrap: wrap;
}
span {
  position: relative;
  font-size: 22px;
  bottom: -1px;
}
.opt-wrapper {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  gap: 10px;
  width: 100%;
  overflow: auto auto;
}

.dialog {
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: #45464A;
  margin-bottom: 20px;
  gap: 10px;
  top: 20%;
  left: 30%;
  position: absolute;
}

button {
  background-color: #3F3A55;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.colorbutton {
  padding: 3px 3px 40px;
  margin-bottom: 9px;
  width: 29%;
  color: black;
}

.switchbutton {
  padding: 3px 3px 40px;
  margin-bottom: 9px;
  width: 29%;
}

i {
  margin-top: 30px;
  margin-bottom: 0px;
  color:black;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 8px;
  border: 4px solid #000000;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 8px;
  border: 4px solid #000000;
}
.gridCol {
  height: 30px;
  width: 30px;
  border: .5px solid #999;
}
.gridRow {
  display: flex;
}
.container {
  max-height: 90vh;
  max-width:  150vh;
  overflow-x: auto;
  overflow-y: auto;
  display: normal;
}
@media only screen and (max-width: 768px) {
  .gridCol {
    height: 8px;
    width: 8px;
    min-width: 8px;
  }
}

.controls_wrapper {
  background-color: #45464A;
  padding: 20px 5px 20px 5px;
  display: inline-block;
  border-radius: 8px;
  position: relative;
  vertical-align: top;
  width: 15%;
  min-width: 15%;
  height: 100vh;
  text-align: center;
}

textarea:disabled {
  background-color: white;
}

.command-disp {
  padding: 15px 10px;
  height: 30%;
}

.command-button {
  width: 30%;
  margin: 10px 0px 10px 0px;
}

.top-button {
    width: 18%;
}